body {
    background-color: lightgray;
}

.savingsitem{
    background-color: white;
    border-style: solid;
    border-color: gray;
    min-height: 200px;
}

.savingsitem:hover{
    opacity: 50%;
}